IMPORTING LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
bank = pd.read_csv('BankChurners.csv')

In [3]:
bank.head(50)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.999940
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.999880
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.999910
8,710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113,0.000045,0.999960
9,719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,...,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144,0.000303,0.999700
10,708790833,Existing Customer,42,M,5,Uneducated,Unknown,$120K +,Blue,31,...,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217,0.000191,0.999810
11,710821833,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,...,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174,0.000198,0.999800
12,710599683,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,...,11751.0,0,11751.0,3.397,1539,17,3.250,0.000,0.000048,0.999950
13,816082233,Existing Customer,35,M,3,Graduate,Unknown,$60K - $80K,Blue,30,...,8547.0,1666,6881.0,1.163,1311,33,2.000,0.195,0.000096,0.999900
14,712396908,Existing Customer,57,F,2,Graduate,Married,Less than $40K,Blue,48,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.000114,0.999890
15,714885258,Existing Customer,44,M,4,Unknown,Unknown,$80K - $120K,Blue,37,...,4234.0,972,3262.0,1.707,1348,27,1.700,0.230,0.000063,0.999940
16,709967358,Existing Customer,48,M,4,Post-Graduate,Single,$80K - $120K,Blue,36,...,30367.0,2362,28005.0,1.708,1671,27,0.929,0.078,0.000236,0.999760
17,753327333,Existing Customer,41,M,3,Unknown,Married,$80K - $120K,Blue,34,...,13535.0,1291,12244.0,0.653,1028,21,1.625,0.095,0.000150,0.999850
18,806160108,Existing Customer,61,M,1,High School,Married,$40K - $60K,Blue,56,...,3193.0,2517,676.0,1.831,1336,30,1.143,0.788,0.000175,0.999830
19,709327383,Existing Customer,45,F,2,Graduate,Married,Unknown,Blue,37,...,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080,0.000055,0.999940
20,806165208,Existing Customer,47,M,1,Doctorate,Divorced,$60K - $80K,Blue,42,...,20979.0,1800,19179.0,0.906,1178,27,0.929,0.086,0.000057,0.999940
21,708508758,Attrited Customer,62,F,0,Graduate,Married,Less than $40K,Blue,49,...,1438.3,0,1438.3,1.047,692,16,0.600,0.000,0.996160,0.003836
22,784725333,Existing Customer,41,M,3,High School,Married,$40K - $60K,Blue,33,...,4470.0,680,3790.0,1.608,931,18,1.571,0.152,0.000069,0.999930
23,811604133,Existing Customer,47,F,4,Unknown,Single,Less than $40K,Blue,36,...,2492.0,1560,932.0,0.573,1126,23,0.353,0.626,0.000207,0.999790
24,789124683,Existing Customer,54,M,2,Unknown,Married,$80K - $120K,Blue,42,...,12217.0,0,12217.0,1.075,1110,21,0.750,0.000,0.000210,0.999790
25,771071958,Existing Customer,41,F,3,Graduate,Single,Less than $40K,Blue,28,...,7768.0,1669,6099.0,0.797,1051,22,0.833,0.215,0.000057,0.999940
26,720466383,Existing Customer,59,M,1,High School,Unknown,$40K - $60K,Blue,46,...,14784.0,1374,13410.0,0.921,1197,23,1.300,0.093,0.000050,0.999950
27,804424383,Existing Customer,63,M,1,Unknown,Married,$60K - $80K,Blue,56,...,10215.0,1010,9205.0,0.843,1904,40,1.000,0.099,0.000186,0.999810
28,718813833,Existing Customer,44,F,3,Uneducated,Single,Unknown,Blue,34,...,10100.0,0,10100.0,0.525,1052,18,1.571,0.000,0.000121,0.999880
29,806624208,Existing Customer,47,M,4,High School,Married,$40K - $60K,Blue,42,...,4785.0,1362,3423.0,0.739,1045,38,0.900,0.285,0.000008,0.999990
30,778348233,Existing Customer,53,M,3,Unknown,Married,$80K - $120K,Blue,33,...,2753.0,1811,942.0,0.977,1038,25,2.571,0.658,0.000218,0.999780
31,712991808,Existing Customer,53,M,2,Uneducated,Married,$60K - $80K,Blue,48,...,2451.0,1690,761.0,1.323,1596,26,1.600,0.690,0.000125,0.999880
32,709029408,Existing Customer,41,M,4,Graduate,Married,$60K - $80K,Blue,36,...,8923.0,2517,6406.0,1.726,1589,24,1.667,0.282,0.000058,0.999940
33,788658483,Existing Customer,53,F,2,College,Married,Less than $40K,Blue,38,...,2650.0,1490,1160.0,1.750,1411,28,1.000,0.562,0.000186,0.999810
34,787937058,Existing Customer,58,M,0,Graduate,Married,$80K - $120K,Blue,49,...,12555.0,1696,10859.0,0.519,1291,24,0.714,0.135,0.000098,0.999900
35,715318008,Existing Customer,55,F,1,College,Single,Less than $40K,Blue,36,...,3520.0,1914,1606.0,0.510,1407,43,0.483,0.544,0.000063,0.999940
36,713962233,Existing Customer,55,F,3,Graduate,Married,Less than $40K,Blue,36,...,3035.0,2298,737.0,1.724,1877,37,1.176,0.757,0.000199,0.999800
37,785432733,Existing Customer,42,F,4,High School,Married,Less than $40K,Gold,36,...,15433.0,0,15433.0,0.865,966,22,1.200,0.000,0.000355,0.999640
38,715190283,Existing Customer,57,F,1,Graduate,Unknown,$40K - $60K,Blue,49,...,3672.0,886,2786.0,1.320,1464,28,0.556,0.241,0.000169,0.999830
39,708300483,Attrited Customer,66,F,0,Doctorate,Married,Unknown,Blue,56,...,7882.0,605,7277.0,1.052,704,16,0.143,0.077,0.997800,0.002197
40,827111283,Existing Customer,45,M,3,Graduate,Single,$80K - $120K,Blue,41,...,32426.0,578,31848.0,1.042,1109,28,0.474,0.018,0.000118,0.999880
41,758551608,Existing Customer,51,M,2,Unknown,Married,$40K - $60K,Blue,44,...,6205.0,2204,4001.0,0.803,1347,28,0.556,0.355,0.000022,0.999980
42,773146383,Existing Customer,50,F,1,College,Single,$40K - $60K,Silver,43,...,17304.0,2517,14787.0,1.449,1756,33,1.200,0.145,0.000158,0.999840
43,778493808,Existing Customer,49,M,3,High School,Married,$60K - $80K,Blue,37,...,3906.0,0,3906.0,1.214,1756,32,1.000,0.000,0.000069,0.999930
44,720572508,Existing Customer,38,F,4,Graduate,Single,Unknown,Blue,28,...,9830.0,2055,7775.0,0.977,1042,23,0.917,0.209,0.000317,0.999680
45,712661433,Existing Customer,49,M,4,Uneducated,Single,$80K - $120K,Blue,30,...,34516.0,0,34516.0,1.621,1444,28,1.333,0.000,0.000206,0.999790
46,789172683,Existing Customer,56,M,2,Doctorate,Married,$60K - $80K,Blue,45,...,2283.0,1430,853.0,2.316,1741,27,0.588,0.626,0.000061,0.999940
47,738406533,Existing Customer,59,M,1,Doctorate,Married,$40K - $60K,Blue,52,...,2548.0,2020,528.0,2.357,1719,27,1.700,0.793,0.000155,0.999850
48,799723908,Existing Customer,46,M,3,High School,Married,$80K - $120K,Blue,40,...,19458.0,1435,18023.0,0.787,1217,27,0.800,0.074,0.000305,0.999690
49,771490833,Existing Customer,52,M,1,College,Single,$80K - $120K,Blue,40,...,4745.0,1227,3518.0,0.624,1140,40,0.600,0.259,0.000030,0.999970

In [14]:
#EDA to detect missing values
for col in bank.columns:
    print(bank[col].value_counts())

CLIENTNUM
768805383    1
711784908    1
720133908    1
803197833    1
812222208    1
            ..
796903083    1
716014983    1
712521783    1
780045708    1
714337233    1
Name: count, Length: 10127, dtype: int64
Attrition_Flag
Existing Customer    8500
Attrited Customer    1627
Name: count, dtype: int64
Customer_Age
44    500
49    495
46    490
45    486
47    479
43    473
48    472
50    452
42    426
51    398
53    387
41    379
52    376
40    361
39    333
54    307
38    303
55    279
56    262
37    260
57    223
36    221
35    184
59    157
58    157
34    146
33    127
60    127
32    106
65    101
61     93
62     93
31     91
26     78
30     70
63     65
29     56
64     43
27     32
28     29
67      4
66      2
68      2
70      1
73      1
Name: count, dtype: int64
Gender
F    5358
M    4769
Name: count, dtype: int64
Dependent_count
3    2732
2    2655
1    1838
4    1574
0     904
5     424
Name: count, dtype: int64
Education_Level
Graduate         3128
High School      2013
Unknown          1519
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: count, dtype: int64
Marital_Status
Married     4687
Single      3943
Unknown      749
Divorced     748
Name: count, dtype: int64
Income_Category
Less than $40K    4307
$80K - $120K      1901
$40K - $60K       1790
$60K - $80K       1402
$120K +            727
Name: count, dtype: int64
Card_Category
Blue        9436
Silver       555
Gold         116
Platinum      20
Name: count, dtype: int64
Months_on_book
36    2463
37     358
34     353
38     347
39     341
40     333
31     318
35     317
33     305
30     300
41     297
32     289
28     275
43     273
42     271
29     241
44     230
45     227
27     206
46     197
26     186
47     171
25     165
48     162
24     160
49     141
23     116
22     105
56     103
50      96
21      83
51      80
53      78
20      74
13      70
19      63
52      62
18      58
54      53
55      42
17      39
15      34
16      29
14      16
Name: count, dtype: int64
Total_Relationship_Count
3    2305
4    1912
5    1891
6    1866
2    1243
1     910
Name: count, dtype: int64
Months_Inactive_12_mon
3    3846
2    3282
1    2233
4     435
5     178
6     124
0      29
Name: count, dtype: int64
Contacts_Count_12_mon
3    3380
2    3227
1    1499
4    1392
0     399
5     176
6      54
Name: count, dtype: int64
Credit_Limit
34516.0    508
1438.3     507
9959.0      18
15987.0     18
23981.0     12
          ...
9183.0       1
29923.0      1
9551.0       1
11558.0      1
10388.0      1
Name: count, Length: 6205, dtype: int64
Total_Revolving_Bal
0       2470
2517     508
1965      12
1480      12
1434      11
        ...
2467       1
2131       1
2400       1
2144       1
2241       1
Name: count, Length: 1974, dtype: int64
Avg_Open_To_Buy
1438.3     324
34516.0     98
31999.0     26
787.0        8
701.0        7
          ...
6543.0       1
2808.0       1
21549.0      1
6189.0       1
8427.0       1
Name: count, Length: 6813, dtype: int64
Total_Amt_Chng_Q4_Q1
0.791    36
0.712    34
0.743    34
0.718    33
0.735    33
         ..
1.216     1
1.645     1
1.089     1
2.103     1
0.166     1
Name: count, Length: 1158, dtype: int64
Total_Trans_Amt
4253     11
4509     11
4518     10
2229     10
4220      9
         ..
1274      1
4521      1
3231      1
4394      1
10294     1
Name: count, Length: 5033, dtype: int64
Total_Trans_Ct
81     208
71     203
75     203
69     202
82     202
      ...
11       2
134      1
139      1
138      1
132      1
Name: count, Length: 126, dtype: int64
Total_Ct_Chng_Q4_Q1
0.667    171
1.000    166
0.500    161
0.750    156
0.600    113
        ...
0.827      1
0.343      1
1.579      1
0.125      1
0.359      1
Name: count, Length: 830, dtype: int64
Avg_Utilization_Ratio
0.000    2470
0.073      44
0.057      33
0.048      32
0.060      30
         ...
0.927       1
0.935       1
0.954       1
0.385       1
0.009       1
Name: count, Length: 964, dtype: int64
Credit_Bin
Less than $40K    7373
$40K - $60K        941
$120K +            667
$80K - $120K       597
$60K - $80K        549
Name: count, dtype: int64
Age_Bin
45–55    4135
35–45    3742
55–65    1321
28–35     780
22–28     139
65+        10
<22         0
Name: count, dtype: int64

In [16]:
# Count how many duplicate rows exist
duplicate_count = bank.duplicated().sum()
print(f"Total duplicate rows: {duplicate_count}")

Total duplicate rows: 0

In [5]:
unknown_income= bank[bank['Income_Category'] == 'Unknown']
unknown_income

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
19,709327383,Existing Customer,45,F,2,Graduate,Married,Unknown,Blue,37,...,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080,0.000055,0.999940
28,718813833,Existing Customer,44,F,3,Uneducated,Single,Unknown,Blue,34,...,10100.0,0,10100.0,0.525,1052,18,1.571,0.000,0.000121,0.999880
39,708300483,Attrited Customer,66,F,0,Doctorate,Married,Unknown,Blue,56,...,7882.0,605,7277.0,1.052,704,16,0.143,0.077,0.997800,0.002197
44,720572508,Existing Customer,38,F,4,Graduate,Single,Unknown,Blue,28,...,9830.0,2055,7775.0,0.977,1042,23,0.917,0.209,0.000317,0.999680
58,711427458,Existing Customer,44,F,5,Graduate,Married,Unknown,Blue,35,...,6273.0,978,5295.0,2.275,1359,25,1.083,0.156,0.000057,0.999940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10021,711149133,Attrited Customer,30,F,1,Graduate,Married,Unknown,Blue,18,...,4377.0,2517,1860.0,0.941,8759,74,0.609,0.575,0.993300,0.006700
10040,714677583,Attrited Customer,50,F,3,Doctorate,Single,Unknown,Blue,36,...,5173.0,0,5173.0,0.912,8757,68,0.789,0.000,0.997800,0.002196
10083,718170033,Existing Customer,42,F,4,Uneducated,Married,Unknown,Blue,23,...,8348.0,0,8348.0,0.695,15905,111,0.708,0.000,0.000059,0.999940
10092,713437008,Attrited Customer,40,F,3,Graduate,Married,Unknown,Blue,25,...,6888.0,1878,5010.0,1.059,9038,64,0.829,0.273,0.994990,0.005010
10119,716893683,Attrited Customer,55,F,3,Uneducated,Single,Unknown,Blue,47,...,14657.0,2517,12140.0,0.166,6009,53,0.514,0.172,0.996910,0.003088

In [ ]:
# Compute correlation matrix
corr_matrix = bank.corr(numeric_only=True)
plt.figure(figsize=(10, 8))
plt.imshow(corr_matrix, cmap='coolwarm', interpolation='none')
plt.colorbar(label='Correlation Coefficient')
plt.xticks(range(len(corr_matrix.columns)), corr_matrix.columns, rotation=90)
plt.yticks(range(len(corr_matrix.columns)), corr_matrix.columns)
plt.title('Correlation Matrix')
# Plot with matplotlib

plt.show()

In [ ]:
#remove unneccessary columns.
bank.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis=1, inplace=True)

In [ ]:
 #check to see relation between income & credit limit
bank[bank['Income_Category'] != 'Unknown'].groupby('Income_Category')['Credit_Limit'].mean().sort_values()

In [ ]:
##impute unknown income 
# Define bins and labels
bins = [0, 10000, 15000, 20000, 30000, bank['Credit_Limit'].max()]
labels = ['Less than $40K', '$40K - $60K', '$60K - $80K', '$80K - $120K', '$120K +']

# Create a temporary bin column
bank['Credit_Bin'] = pd.cut(bank['Credit_Limit'], bins=bins, labels=labels)

# Map most frequent income category per bin
income_map = (
    bank[bank['Income_Category'] != 'Unknown']
    .groupby('Credit_Bin')['Income_Category']
    .agg(lambda x: x.mode()[0])
)

# Impute 'Unknown' values
mask = bank['Income_Category'] == 'Unknown'
bank.loc[mask, 'Income_Category'] = bank.loc[mask, 'Credit_Bin'].map(income_map)

bank['Income_Category'].value_counts()

In [ ]:
#Initiate model & 
model= LogisticRegression(class_weight='balanced', max_iter=1000)

# Convert target to binary: 1 if Attrited Customer, 0 otherwise
bank['Attrition_Flag_Binary'] = np.where(bank['Attrition_Flag'] == 'Attrited Customer', 1, 0)


# Exclude unhelpful features
X = bank.drop(columns=['CLIENTNUM', 'Attrition_Flag', 'Attrition_Flag_Binary'])

# One-hot encode categorical variables
X = pd.get_dummies(X, drop_first=True)

# Target variable
y = bank['Attrition_Flag_Binary']

#Scale Data
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

#Train_Test Split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
#Fit the training data
model.fit(X_train,y_train)

#Predict 
predictions= model.predict(X_test)

print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))